:host{
    display: grid;
    height: calc(100vh - 85px);
    overflow-y: hidden;
    margin-top: 2rem;
    position: relative;
}

app-menu {
    padding: 2rem 0;
    background: #fff;
}

@media (min-width: 1440px){
    :host {
        grid-template-columns: 400px 400px 1fr;
        grid-template-rows: repeat(3, 100%);
    }

    app-checks {
        border-right: 1px solid #ccc;
    }

    .wrapper {
        position: relative;
        display: block;
        background: #fff;
        border-right: 1px solid #ccc;
    }

    app-menu {
        position: fixed;
        width: 399px;

    }

    app-menu, app-checks, check-detail {
        overflow-y: auto;
    }
}