:host{
    display: grid;
    min-height: calc(100vh - 360px);
}

app-menu,
app-checks,
app-check-detail {
    padding: 2rem 0;
    background: #fff;
}

@media (min-width: 1440px){
    :host {
        grid-template-columns: 400px 400px 1fr;
    }

    app-menu,
    app-checks {
        border-right: 2px solid black;
    }
}