<div class="intro my-5 text-center">
    <h1 class="">formulari 30 Tage kostenlos testen.</h1>
    <p>Formulari ist die Komplettlösung zur einfachen und komfortablen Kundendatenabfrage. Registrieren Sie sich jetzt und testen Sie formulari kostenlos. Es sind keine Bankdaten erforderlich. Die Testphase endet automatisch. </p>
</div>

<div class="card shadow mb-5 bg-white">
    <div class="card-body">
        <h4>Registrierung</h4>
        <form [formGroup]="form" (ngSubmit)="register()">
            <div class="row g-3">
                <div class="col-lg-3">
                    <label class="form-label" for="gender">Anrede</label>
                    <select class="form-control form-control-lg" formControlName="gender" required id="gender">
                        <option value="male">Herr</option>
                        <option value="female">Frau</option>
                    </select>
                </div>
                <div class="col-lg-9">
                    <label class="form-label" for="firstName">Vorname</label>
                    <input type="text" formControlName="firstName" class="form-control form-control-lg" id="firstName"
                        required />
                </div>
                <div class="col-lg-8">
                    <label class="form-label" for="lastName">Nachname</label>
                    <input type="text" formControlName="lastName" class="form-control form-control-lg" id="lastName"
                        required />
                </div>
                <div class="col-lg-4">
                    <label class="form-label" for="dateOfBirth">Geburtsdatum</label>
                    <input type="date" formControlName="dateOfBirth" class="form-control form-control-lg"
                        id="dateOfBirth" required />
                </div>
                <div class="col-12">
                    <label class="form-label" for="email">E-Mail</label>
                    <input type="text" formControlName="email" class="form-control form-control-lg" id="email"
                        required />
                </div>
                <div class="col-12">
                    <label class="form-label" for="password">Passwort</label>
                    <input type="password" formControlName="password" class="form-control form-control-lg" id="password"
                        required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid">Jetzt registrieren</button>
                </div>
                
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <small>Sie haben bereits ein Nutzerkonto? <a routerLink="../login" class="btn btn-sm btn-link"
                            style="padding-left: 0">Anmelden</a></small>
                </div>
            </div>
        </form>
    </div>
</div>