<div class="container my-5">
    <img class="image__forgot-password mb-2" src="assets/img/008-forgot-password.png" title="Forgot password">
    <h1 class="text-center">Du hast dein Passwort vergessen?</h1>
    <div class="reset__info-text">
        Kein Problem! Trage in das untenstehende Feld deine E-Mail-Adresse ein und klick auf "Link anfordern". Wir senden dir dann einen Link zu mit dem das Passwort zurückgesetzt werden kann.
    </div>
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="forgotPassword()">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control form-control-lg" id="floatingInput"
                    placeholder="name@example.com" required>
                <label for="floatingInput">E-Mail</label>
            </div>
        </form>
        <button class="btn btn-lg btn-primary w-100" [disabled]="!form.valid">
            Link anfordern
        </button>
    </div>

</div>