.notification-container {
    position: fixed;
    z-index: 1500;
    left: 15px;
    bottom: 0px;
  }
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }