.card {
  max-width: min(90%, 750px);
  margin: 50px auto;
}

.reset__info-text {
  width: min(600px, 100%);
  margin: 0 auto;
  text-align: center;
}

.form {
  margin: 1rem auto;
  width: min(500px, 100%);
}

.image__forgot-password {
  display: block;
  margin: 0 auto;
}
