<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a>
                    </li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a></li>


                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a></li>

                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a></li>

                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/item" class="p-0">Item</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a>
                    </li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Item</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-3 my-4 border-top border-secondary">
            <p>&copy; 2022 mysite.com</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#" target="_blank"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" />
                        </svg></a></li>
            </ul>
        </div>
    </div>
</footer>