
<div class="">
    <span class="menu-title">Ihre Checks</span>
    <ul class="list-group list-group-flush">
        <button id="menu-btn-eingang" class="list-group-item list-group-item-action active" (click)="select('menu-btn-eingang')">Eingang</button>
        <button id="menu-btn-ausgang" class="list-group-item list-group-item-action" (click)="select('menu-btn-ausgang')">Ausgang</button>
        <button id="menu-btn-archiv" class="list-group-item list-group-item-action" (click)="select('menu-btn-archiv')">Archiv</button>
    </ul>
</div>