<main>
    <section class="section-4">
        <div class="section-4-1">
            <div class="section-main">
                <h1>Unsere Preise</h1>
                <p>formulari kannst du entweder kostenlos oder kostenpflichtig nutzen. Mit dem kostenpflichtigen formulari Premium-Abonnement für nur 19 Euro pro Monat erhältst du Zugriff auf sämtliche Funktionen, kannst bis zu 2000 Checks pro Monat versenden und unterstützt uns dabei formulari auch weiterhin betreiben zu können.</p>
            </div>
        </div>
        <div class="section-4-2">
            <div class="section-main">
                <div class="pricing-body">
                    <div class="pricing-body-plans">
    
                        <div id="pricing__monthly__plan" class="active">
                            <div>
                                <div class="card">
                                    <div class="card-header custom-card-header">
                                        <h2>Kostenlos</h2>
                                        <h2 class="card-price">0<span>€/Monat</span></h2>
                                        <p>Entdecke formulari</p>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>10 Checks pro Monat**</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>Basis Komponenten</p></li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn" routerLink="/register">Jetzt registrieren</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header custom-card-header">
                                        <h2>Premium</h2>
                                        <h2 class="card-price">19<span>€/Monat*</span></h2>
                                        <p>Erhalte Zugriff auf alle Funktionen</p>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>2000 Checks pro Monat**</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>Alle Basis Komponenten</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>Zusätzliche Abfragekomponenten: Datei, Bild, Bewertung</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>E-Mail Benachrichtigung bei übermittelten Checks</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>Export von übermittelten Daten</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>Statistiken</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>E-Mail Support</p></li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn" routerLink="/register">Jetzt registrieren</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="note">* Monatlich kündbar (über Paypal)</p>
                <p class="note">** Checks an einen spezifischen Empfänger per E-Mail Versand (Einzelcheck). Checks können auch an mehrere Empfänger (Sammelcheck) per E-Mail versendet werden. Jeder Empfänger zählt in der Berechnung des Kontingents als einzelner Check.</p>
                
            </div>
        </div>
    </section>
    
</main>