<div class="card shadow my-5 bg-white">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="email">E-Mail</label>
                    <input type="text" formControlName="identifier" class="form-control form-control-lg" name="email"
                        required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control form-control-lg"
                        name="password" required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary w-100" [disabled]="!form.valid">
                        Login
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small>Not registered yet? <a routerLink="../register" class="pl-0"
                            class="btn btn-sm btn-link">Register</a></small>
                    <br>
                    <small>Forgot passwort? <a routerLink="../forgot-password" class="pl-0"
                            class="btn btn-sm btn-link">Reset Password</a></small>
                </div>
            </div>
        </form>
    </div>
</div>