<div class="login">
    <div class="card-body">
        <h1 class="text-center">Bei formulari anmelden</h1>
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="email">E-Mail</label>
                    <input type="text" formControlName="email" class="form-control form-control-lg" name="email"
                        required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="password">Passwort</label>
                    <input type="password" formControlName="password" class="form-control form-control-lg"
                        name="password" required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-lg btn-primary w-100" [disabled]="!form.valid">
                        Anmelden
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small>Du hast noch kein Nutzerkonto? <a routerLink="../register" class="pl-0"
                            class="btn btn-sm btn-link">Jetzt registrieren</a></small>
                    <br>
                    <small>Passwort vergessen? <a routerLink="../forgot-password" class="pl-0"
                            class="btn btn-sm btn-link">Passwort zurücksetzen</a></small>
                </div>
            </div>
        </form>
    </div>
</div>