<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Unternehmen</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/" class="p-0">Warum formulari?</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Häufige Fragen</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Pressebereich</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Kontakt</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Vorteile</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/" class="p-0">Service-Effizienz</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Transparenz & Nachvollziehbarkeit</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Erweiterbarkeit</a></li>

                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Branchen</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/" class="p-0">Versicherungen & Banken</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Dienstleister</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Selbstständige</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Vereine</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Preise</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/item" class="p-0">Preise</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Enterprise</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-secondary">Weiteres</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/item" class="p-0">Impressum</a></li>
                    <li class="nav-item"><a routerLink="/" class="p-0">Datenschutz</a>
                    </li>
                    <li class="nav-item"><a routerLink="/" class="p-0">AGB</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-3 my-4 border-top border-secondary">
            <p>&copy; 2023 formulari.io</p>
        </div>
    </div>
</footer>