<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-3 mb-md-0">
    <div class="container">
        <a class="navbar-brand m-0" routerLink="/home">
            Company Logo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-ltr" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-ltr" aria-current="page" routerLink="/">Item2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Item3</a>
                </li>
            </ul>
            <div class="d-lg-flex justify-content-end align-items-center mb-2 mb-md-0">
                <ng-container *ngIf="!loggedIn">
                    <a class="btn btn-outline-secondary w-100" routerLink="/register"
                        style="margin-right: 10px">Register</a>
                    <a class="btn btn-primary w-100 mt-2 mt-md-0" routerLink="/login">Login</a>
                    <a class="btn btn-outline-secondary w-100" *ngIf="loggedIn" (click)="logout()">Logout</a>
                </ng-container>
                <div class="dropdown" *ngIf="loggedIn">

                    <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="bi d-block mx-auto mb-1" width="32" height="32">
                            <use xlink:href="#people-circle" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" routerLink="/">Item1</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/">Item2</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/">Item3</a></li>
                        <li><a class="dropdown-item" routerLink="/">Item4</a></li>
                        <ng-container *ngIf="loggedIn">
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>