<div class="page">
    <div class="container py-5">
        <div class="teaser">
            <div class="teaser-text">Einfach bei Ihren Kund:innen</div>
            <span class="typed-element teaser-text"></span>
            <div class="teaser-text">anfragen und sicher zurückerhalten.</div>
            <p>Formulari ist Die Komplettlösung zur komfortablen und effizienten Abfrage von Kundendaten.</p>
            <a class="btn btn-primary btn-lg" routerLink="/register">Jetzt kostenlos registrieren</a>
        </div>
        
    </div>
</div>
