.page {
    background-image: url(/assets/img/teaser-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}

.teaser {
    width: 100%;
    max-width: 500px;
    font-size: 50px;
}

.teaser p {
    font-size: 1rem;
}

.teaser-text {
    font-weight: bold;
}
.typed-element {
    color: #15fdf0;
    text-decoration: underline;
    font-size: 50px;
    line-height: 50px;
}