<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-3 mb-md-0">
    <div class="container">
        <a class="navbar-brand m-0" routerLink="/home">
            formulari
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                <ng-container *ngIf="this.loggedIn$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Posteingang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ltr" aria-current="page" routerLink="/template/add">Vorlagen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/check/add">Neuer Check</a>
                    </li>
                </ng-container>

            </ul>
            <div class="d-lg-flex justify-content-end align-items-center mb-2 mb-md-0">
                <ng-container *ngIf="!(this.loggedIn$ | async)">
                    <a class="btn btn-outline-secondary w-100" routerLink="/register"
                        style="margin-right: 10px">Registrieren</a>
                    <a class="btn btn-primary w-100 mt-2 mt-md-0" routerLink="/login">Anmelden</a>

                </ng-container>
                <ng-container *ngIf="this.loggedIn$ | async">
                    <a class="btn btn-outline-secondary w-100" *ngIf="this.loggedIn$ | async"
                        (click)="logout()">Abmelden</a>
                </ng-container>

            </div>

        </div>
    </div>
</nav>