<main>
    <section class="section-4">
        <div class="section-4-1">
            <div class="section-main">
                <h1>Formulari Starter Plan (Jahresabonnement)</h1>
            </div>
        </div>
        <div class="section-4-2">
            <div class="section-main">
                <div class="pricing-body">
                 
                    <div class="pricing-body-plans">
                        <div id="pricing__annually__plan active">
                            <div>
                                <div class="card">
                                    <div class="card-header custom-card-header">
                                        <h2>Starter</h2>
                                        <h2 class="card-price">190<span>€/Jahr</span></h2>
                                        <p>Ideal für kleinere Unternehmen</p>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            <li><img src="assets/img/Checkmark.svg" alt="">100 Checks pro Monat*<p></p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>Alle Basiskomponenten und zusätzlich folgende Komponenten: Datei, Bild, Bewertung</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>E-Mail Benachrichtigung bei übermittelten Checks</p></li>
                                            <li><img src="assets/img/Checkmark.svg" alt=""><p>E-Mail Support</p></li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <app-checkout [subscriptionId]=""></app-checkout>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    
                </div>
                <p class="note">* Checks an einen spezifischen Empfänger per E-Mail Versand (Einzelcheck). Checks können auch an mehrere Empfänger (Sammelcheck) per E-Mail versendet werden. Jeder Empfänger zählt in der Berechnung des Kontingents als einzelner Check.</p>
            </div>
        </div>
    </section>
    
</main>