.components {
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    gap: 1rem;
    margin: 1rem 0;
}

.component {
    background-color: #3e6ebb; /* Blue background */
    border: none; /* Remove borders */
    border-radius: .875rem;
    color: white; /* White text */
    padding: .5rem .25rem; /* Some padding */
    font-size: .875rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    transition: background-color .3s;
  }
  
  /* Darker background on mouse-over */
  .component:hover {
    background-color: #000;
  }

  .pflichtfeld {
      display: flex;
      align-items: flex-end;
  }

  .component-row  {
    border: 1px dotted black;
    margin-top: 1rem;
    padding: 1rem;
  }