<table class="table table-striped" *ngIf="templates.length > 0; else noData">
    <thead>
        <tr>
            <th scope="col">Titel</th>
            <th scope="col">Erstellt am</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let template of templates">
            <td>{{template.name}}</td>
            <td>{{template.createdAt | date : 'dd.MM.yyyy hh:mm'}} Uhr</td>
            <td>
                <div class="dropdown">
                    <i class="btn bi bi-three-dots-vertical float-end" data-bs-toggle="dropdown" aria-expanded="false">
                    </i>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Bearbeiten</a></li>
                      <li><a class="dropdown-item" href="#" (click)="deleteTemplate(template.uid)">Löschen</a></li>
                    </ul>
                  </div>
            </td>
        </tr>
</table>
<ng-template #noData>
    <p>Es wurden noch keine Vorlagen erstellt</p>
</ng-template>